
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor {
	background:#ccc;
	width:90%;
	max-width:1000px;
	margin:auto;

	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}


body {
background-color: #fff;
background-image: url("../img/banner.jpg");
	background-position: center;
	background-size: cover;
	}

header {
	background:#2c3e50;
	width:100%;
	padding:20px;

	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;

	flex-direction:row;
	flex-wrap:wrap;
}

header .logo {
	color:#fff;
	font-size:30px;
}

header .logo img {
	width:50px;
	vertical-align: top;
}

header .logo a {
	color:#fff;
	text-decoration: none;
	line-height:50px;
}
header nav {
	width:50%;
	/* Flexbox */

	display:flex;
	flex-wrap:wrap;
	align-items:center;
	
}

header nav a {
	background:#c0392b;
	color:#fff;
	text-align: center;
	text-decoration: none;
	padding: 10px;

	/* Flexbox */
	flex-grow:1;
}

header nav a:hover {
	background:#e74c3c;

}

.main {
	background:rgb(207, 207, 207);
	padding:20px;

	flex:1 1 70%;
	/*flex:1;*/
}

.main article {
	margin-bottom: 20px;
	padding-bottom:20px;
	border-bottom:1px solid #000;
}

.main article:nth-last-child(1){
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom:none;
}

aside {
	background:#ffffff;
	padding:20px;
	/*FLEX*/
	flex:1 1 30%;
	/*flex:0 0 300px;*/

	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:flex-start;
}

aside .widget2 {
	background: #ffffff;
	height:400px;
	margin:5px;
}
.titulo1 {
font-family: Georgia, 'Times New Roman', Times, serif;
text-transform: capitalize;
}
.text1 {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;

}
.txt1 {
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;

}

.text2 {
	text-justify: distribute-all-lines;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-top: 5;
}
.text3{
	text-align: left;
font-family: Arial, Helvetica, sans-serif;
font-size: small;
}
.imagenpregunta img{
    width: 180px;
    height: 180px;
    float: right;
}
.imagen1 img{
    align-items: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left ;
}
.imagenejemplo1 img{
    width: 380px;
    height: 200px;
    float: right ;
}
.imagen2 img {
height: 180px;
}
.imagenart img {
	height: 180px;
	align-items: right;
float: right ;
	}
	.imagenartt img{
        height: 130px;
		width: auto;
	
        }
    .imagen4 img{
        height: 180px;
        align-items: right;
    float: right ;
        }
	.imagenfas img {
		height: 180px;
		align-items: right;
	float: right ;
}
.contenido{
    display: flex;
    margin: 60px;
}

footer {
	background:#2c3e50;
	width: 100%;
	padding:20px;

	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

footer .links {
	background:#c0392b;
	display:flex;
	flex-wrap:wrap;
}

footer .links a {
	flex-grow:1;

	color:#fff;
	padding:10px;
	text-align: center;
	text-decoration:none;
}

footer .links a:hover {
	background:#E74C3C;
}

@media screen and (max-width: 800px) {
	.contenedor {
		flex-direction:column;
	}

	header {
		flex-direction:column;
		padding:0;
	}

	header .logo {
		margin:20px 0;
	}

	header nav {
		width: 100%;
	}

	aside {
		flex-direction:row;
		flex:0;
	}

	aside .widget {
		flex-grow:1;
	}
}

@media screen and (max-width: 600px) {
	aside {
		flex-direction:column;
	}

	footer {
		justify-content:space-around;
	}
}
